<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="myPoissonDao" class="com.javaquarium.dao.PoissonDAO"/>
	<bean id="myUserDao" class="com.javaquarium.dao.UserDAO"/>
		
	<bean id="myPoissonService" class="com.javaquarium.business.PoissonService">
		<property name="poissonDao"> <ref bean="myPoissonDao"/> </property>
	</bean>
	
	<bean id="myUserService" class="com.javaquarium.business.UserService">
		<property name="userDao"> <ref bean="myUserDao"/> </property>
	</bean>
	<bean name="/login" class="com.javaquarium.action.LoginAction" singleton="true">
		<property name="userService"> <ref bean="myUserService"/></property>
	</bean>
	<bean name="/register" class="com.javaquarium.action.RegisterAction">
		<property name="userService"> <ref bean="myUserService"/></property>
	</bean>
	<bean name="/listerEspece" class="com.javaquarium.action.ListerEspeceAction">
		<property name="service"> <ref bean="myPoissonService"/></property>
	</bean>
	
	<bean name="/ajouterNouveauPoisson" class="com.javaquarium.action.AjoutAction">
		<property name="service"> <ref bean="myPoissonService"/></property>
	</bean>
	
	<bean name="/ajouter" class="com.javaquarium.action.AjoutPoissonAquariumAction"/>
	<bean name="/enlever" class="com.javaquarium.action.EnleverPoissonAquariumAction"/>
	<bean name="/save" class="com.javaquarium.action.SaveAquariumAction"/>
	<bean name="/clear" class="com.javaquarium.action.ClearAquariumAction"/>
	
</beans>



